<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="Main Tests Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="1024M"/>
        <const name="MY_APP_ENV" value="testing"/>
    </php>
</phpunit>